<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .account {
            width: 1200px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5 5 20px #aaa;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 40px;
        }

        .account h2 {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="background-color: lightskyblue ;height: 100px">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <a class="btn btn-danger" aria-current="page" href="/root/">退出登录</a>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <a class="btn btn-secondary" href="/login/">用户登陆</a>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <form method = 'post' action='/root/'>
                            {% csrf_token %}
                            <div class="form-group d-none">
                                <label>id：</label>
                                <input type="text" value = 'root' name = 'id'>
                            </div>
                            <div class="form-group d-none">
                                <label>password：</label>
                                <input type="text" value = '123456' name = 'password'>
                            </div>
                            <input type="submit" value="学生管理" class = "btn btn-info">
                        </form>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <form method = 'post' action='/stules/'>
                            {% csrf_token %}
                            <div class="form-group d-none">
                                <label>id：</label>
                                <input type="text" value = 'root' name = 'id'>
                            </div>
                            <div class="form-group d-none">
                                <label>password：</label>
                                <input type="text" value = '123456' name = 'password'>
                            </div>
                            <input type="submit" value="选课管理" class = "btn btn-primary">
                        </form>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <form method = 'post' action='/major/'>
                            {% csrf_token %}
                            <div class="form-group d-none">
                                <label>id：</label>
                                <input type="text" value = 'root' name = 'id'>
                            </div>
                            <div class="form-group d-none">
                                <label>password：</label>
                                <input type="text" value = '123456' name = 'password'>
                            </div>
                            <input type="submit" value="专业管理" class = "btn btn-warning">
                        </form>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <form method = 'post' action='/dep/'>
                            {% csrf_token %}
                            <div class="form-group d-none">
                                <label>id：</label>
                                <input type="text" value = 'root' name = 'id'>
                            </div>
                            <div class="form-group d-none">
                                <label>password：</label>
                                <input type="text" value = '123456' name = 'password'>
                            </div>
                            <input type="submit" value="学院管理" class = "btn btn-dark">
                        </form>
                    </li>
                    <li class="nav-item col-sm-2 offset-sm-1">
                        <button type="button" class="btn btn-success" id = "create" onclick='edit(this);'>
                            新建信息
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row account">
        <table class="table table-striped table-hover table-bordered border-primary">
            <thead>
            <tr>
                <th scope="col">课程编号</th>
                <th scope="col">课程名称</th>
                <th scope="col">教师</th>
                <th scope="col">学分</th>
                <th scope="col">学时</th>
                <th scope="col">专业</th>
                <th scope="col">学院</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <input type="text" id="filterInput" class="form-control" placeholder="输入关键词筛选">
            {% for i in info %}
            <tr>
                <th scope="row" id = 'id'>{{i.id}}</th>
                <td id = 'lname'>{{i.lname}}</td>
                <td id = 'teacher'>{{i.teacher}}</td>
                <td id = 'credit'>{{i.credit}}</td>
                <td id = 'hour'>{{i.hour}}</td>
                <td id = 'mname'>{{i.mname}}</td>
                <td id = 'dname'>{{i.dname}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick='edit(this);'>
                        编辑
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" onclick='del(this);'>
                        删除
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- edit -->
    <div class="modal fade" id="modal_edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel" style = "margin-left:auto; margin-right:auto">编辑</h5>
                </div>
                <div class="modal-body">
                    <form method = 'post' action='/lesson/'>
                        {% csrf_token %}
                        <div class="form-group d-none">
                            <label>旧课程编号：</label>
                            {{form.old_id}}
                        </div>
                        <div class="form-group">
                            <label>课程编号</label>
                            {{form.id}}
                            <span style="color:red">{{form.id.errors.0}}</span>
                        </div>
                        <div class="form-group">
                            <label>课程名称：</label>
                            {{form.lname}}
                            <span style="color:red">{{form.lname.errors.0}}</span>
                        </div>
                        <div class="form-group">
                            <label>授课教师：</label>
                            {{form.teacher}}
                            <span style="color:red">{{form.teacher.errors.0}}</span>
                        </div>
                        <div class="form-group">
                            <label>学分：</label>
                            {{form.credit}}
                            <span style="color:red">{{form.credit.errors.0}}</span>
                        </div>
                        <div class="form-group">
                            <label>专业：</label>
                            {{form.major_id}}
                            <span style="color:red">{{form.major.errors.0}}</span>
                        </div>
                        <div class="form-group">
                            <label>学时：</label>
                            {{form.hour}}
                            <span style="color:red">{{form.hour.errors.0}}</span>
                        </div>
                        <div class="form-group d-none">
                            <label>操作：</label>
                            {{form.action}}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="确认" class = "btn btn-primary">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- delete -->
    <div class="modal fade" id="modal_delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLabel" style = "margin-left:auto; margin-right:auto">删除</h5>
                </div>
                <div class="modal-body">
                    <form method = 'post' action='/lesson/'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label>课程编号：</label>
                            <input type="text" class="form-control" placeholder="id" aria-label="id" aria-describedby="basic-addon1" name="id" id="delete_id" readonly>
                        </div>
                        <div class="form-group">
                            <label>课程名</label>
                            <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1" name="name" id="delete_name" readonly>
                        </div>
                        <div class="form-group d-none">
                            <label>操作：</label>
                            <input type="text" class="form-control" placeholder="action" aria-label="action" aria-describedby="basic-addon1" name="action" id="delete_action">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="确认" class = "btn btn-primary">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框的HTML结构 -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">消息</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{msg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function del(self){
            var id = self.parentElement.parentElement.children[0].innerText;
            var lname = self.parentElement.parentElement.children[1].innerText;
            $('#delete_id').val(id);
            $('#delete_name').val(lname);
            $('#delete_action').val('delete');
            $('#modal_delete').modal('show')
        }
    </script>
    <script>
        function edit(self){
            if(self.id == 'create'){
                $('#id_action').val('create');
                $('#modal_edit').modal('show')
                return
            }
            var data = self.parentElement.parentElement;
            $('#id_old_id').val(data.children[0].innerText);
            $('#id_id').val(data.children[0].innerText);
            $('#id_lname').val(data.children[1].innerText);
            $('#id_teacher').val(data.children[2].innerText);
            $('#id_credit').val(data.children[3].innerText);
            $('#id_hour').val(data.children[4].innerText);
            $('#id_action').val('edit');
            $('#modal_edit').modal('show')
        }
    </script>
    <script>
        // JavaScript代码来初始化并显示模态框
        document.addEventListener('DOMContentLoaded', function() {
            var msg = "{{msg}}";
            if(msg!=''){
                var myModal = new bootstrap.Modal(document.getElementById('myModal'));
                myModal.show();
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#filterInput').on('input', function() {
              var filterValue = $(this).val().toLowerCase(); // 获取筛选框的值并转换为小写
          
              $('tbody tr').each(function() {
                var text = $(this).text().toLowerCase(); // 获取当前列表项的文本并转换为小写
          
                if (text.indexOf(filterValue) > -1) {
                  $(this).show(); // 匹配到关键词则显示该列表项
                } else {
                  $(this).hide(); // 不匹配则隐藏该列表项
                }
              });
            });
          });
    </script>
</body>
</html>